<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
</head>
<body>
    <h2>DELETE User : <%=user.username%></h2>
    <form method="POST" action="/user/<%=user.id%>/delete?_method=DELETE">
        <input type="email" name="email" placeholder="Enter email ID"><br>
        <input type="password" name="password" placeholder="Enter password"><br>
        <button>Delete</button>
    </form>
</body>
</html>