<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad user</title>
</head>
<body>
    <h1>ADD User</h1>
    <form method="post" action="/user/new">
        <input type="text" name="username" placeholder="Enter your Username"><br><br>
        <input type="email"name="email" placeholder="Enter your Email"><br><br>
        <input type="password" name="password" id=""placeholder="Enter your password"><br><br>
        <button>Add</button>
    </form>
</body>
</html>