body{
    background-color: rgb(24, 23, 23);
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: black;
    padding: 6px;
    margin-bottom: 30px;
}
h1{
    text-align: center;
    color:maroon
}
.createN-btn{
    background-color:rgb(143, 143, 238);
    color: white;
    padding: 8px;
    margin-left:47%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 8px;
}
.box{
    background-color: rgb(153, 148, 148);
    width: 400px;
    margin: auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 9px;
    margin-top: 5px;

}
.user{
    font-style: italic;
}
.id{
    font-size: 16px;
    font-weight: 200;
}