body{
    background-color: rgb(52, 43, 43);
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: black;
    padding: 6px;
    margin-bottom: 30px;
}
h1{
    text-align: center;
    color:maroon
}
.box{
    background-color: rgb(153, 148, 148);
    width: 400px;
    margin: auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 9px;
    margin-top: 5px;

}
.user{
    font-style: italic;
}