<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <h1>Quora Posts</h1>
    </nav>
    <span class="">
    <a href="http://localhost:8080/posts/new"><button class="createN-btn">Create New post</button></a>
    </span>
    <% for(post of posts){%>
        <div class="box">
            <div class="box-data">
            <h3 class="user">@<%=post.username%></h3>
           <p class="content"><%=post.content%></p> 
           <a href="http://localhost:8080/posts/<%=post.id%>">View in detail</a>
           <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
        </div>
        </div>
     <% } %>
</body>
</html>