<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
    <link rel="stylesheet" href="/new.css">

</head>

<body>
    <nav>
        <h1>Quora Posts</h1>
    </nav>
    <h1>Add New post</h1>
    <div class="post-form">
        <div class="form">
            <form method="post" action="/posts">
                <label for="username">Username</label><br>
                <input type="text" placeholder="Enter your Username" name="username"><br><br>
                <label for="content">Post</label><br>
                <textarea name="content" id="content" placeholder="Enter your post content here..."></textarea><br><br>
                <button class="post-btn">Post</button>
            </form>
        </div>
    </div>
</body>

</html>