<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, magnam illo nulla ipsa tempora quod, possimus voluptate quibusdam harum itaque aliquid fugit accusantium neque modi. Debitis dolor, fugit vel illum autem natus at pariatur doloribus aspernatur quaerat repellendus impedit adipisci corporis, aut veniam animi ab tenetur, porro a. Laboriosam, veniam.</p>
    <!--EJS Interpolation syntax-->
    <h3><%= 1+5 %></h3>
    <button>Click me</button>
</body>
</html>