<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insta</title>
</head>
<body>
    <!--Create a basic template for instagram page based on following route:
                /ig/:username-->
    <h2>@<%=username%></h2>
    <div style="display: flex; gap: 10px;">
    <div style="height: 100px; width: 100px; border-radius: 50%; background-color: gray;"></div>
    <div style="display: flex; margin-top: 25px;gap: 20px;">
    <button style="height: 20px;">FOllow</button>
    <button style="height: 20px;">Message</button>
</div>
</div>
</body>
</html>