body{
    margin:20px;
    padding: 20px;
    background-color: bisque;
}

.chat{
    background-color: aliceblue;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 5px;
}
.msg{
    display: inline-flex;
    background-color: rgb(15, 156, 232);
    padding: 16px;
    color: white;
    border-radius: 16px;
}
.msg-h{
    color: black;
}


h2{
    text-align: center;
}
.n-chat{
    height: 400px;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: rgb(183, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.n-chat,input{
    border: none;
    border-radius: 8px;
    padding: 8px;

}
.n-chat{

    button{
        background-color: rgb(182, 227, 114);
        padding: 5px;
        border: none;
        border-radius: 8px;
        margin-left: 25%;
    }
}


.e-btn{
    border: 1px solid white;
    padding: none;
    width: 70px;
    background-color: rgb(15, 156, 232);
    color: black;
    margin-left: 10px;
}

.Edit{
    width: 300px;
    height: 400px;
    border: 1px solid white;

    p{
        text-align: center;   
    };
    form{
        text-align: center;

        textarea{
            border: none;
            border-radius: 10px;
        }
    }
}