.parent{
    background-color: aqua;
    border-radius: 8px;
    margin: 45px;
    border: 10px inset;
 /*   position: relative;*/

}
.box{
    border: 2px solid black;
    width: 544px;
    height: 160px;
    padding: 3px;
    margin: 5px;
}
.box1{
    background-color: rgb(246, 164, 164);
    left: 34px;
    height: 100px;
    z-index: 2;
    position: sticky; 
top: 0px;       }
.box2{
    background-color: blue;
    position: relative;
    bottom: 59px;
}
.box3{
    background-color: green;
    position: sticky; 
}
.box4{
    background-color: yellow;
}